<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
	Download this file to 'ProximityKit.plist' in your project folder, then drag it into Xcode to configure the library.
-->
<dict>
	<key>PKKitName</key>
	<string>TrialKit</string>
	<key>PKUserIdentifier</key>
	<string>6344</string>
	<key>PKUserEmail</key>
	<string>lixueyang2010@gmail.com</string>
	<key>PKGlobalUserIdentifier</key>
	<string>8868</string>
	<key>PKAPIToken</key>
	<string>c4f10df97b836acf029a23391de144f7cebc22ba4e59f2922056dc77c61846b3</string>
	<key>PKKitURL</key>
	<string>https://proximitykit.radiusnetworks.com/api/kits/6044</string>
</dict>
</plist>
